{% extends "base.html" %}

{% block content %}
<div class="banner-container">
    <div class="banner" style="background-image: url('{{ url_for('static', filename='images/banner1.jpg') }}');"></div>
    <div class="banner" style="background-image: url('{{ url_for('static', filename='images/banner2.jpg') }}');"></div>
    <div class="banner" style="background-image: url('{{ url_for('static', filename='images/banner3.jpg') }}');"></div>
    <div class="banner" style="background-image: url('{{ url_for('static', filename='images/banner4.jpg') }}');"></div>
</div>
{% endblock %}
